body {
	background: #061C2A url(../images/bg.png) top center repeat;
}
.demo-row li {
	float: left;
	border: 1px solid #ddd;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100px;
	height: 100px;
	margin-right: 5px;
}
h1 img {
	position: absolute;
	margin-left: -70px;
	margin-top: -5px;
}
h1 {
	padding-left: 70px;
	padding-top: 25px;
	padding-bottom: 10px;
}
#demo-content {
	font-size: 20px;
	text-align: center;
	background: #eee;
	padding: 15px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#demo-splash {
	background: #222;
	position: relative;
}
#demo-splash #uniqueID, #demo-splash .flickrbomb {
	position: relative;
	z-index: 0;
}
#demo-content span {
	background: #444;
	color: #eee;
	font-weight: 300;
	padding: 2px 5px 2px 5px;
	max-width:250px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 1px;
	margin-left: 1px;
}
#demo-content span:focus {
	background: #555;
	border-bottom: 2px dashed #fbc520;
}
#demo-splash {
	height: 250px;
/*	overflow: hidden;
*/}
#demo-splash span {
	position: absolute;
	top: 5px;
	left: 35px;
	font-weight: bold;
	z-index: -1;
}
span {
	outline: none;
}
#demo-body h2 {
	text-align: center;
	text-shadow: 1px 2px 2px #ddd;
	padding-top: 45px;
	padding-bottom: 45px;
}
.demo {
	/* demo images */
}